<% param_name = "#{association_name}_page" %>

<%= render :partial => 'admin/templates/modals/has_many' %>

<div class="box_relationships" id="<%= association_name %>">

  <h2>
    <%= @resource.human_attribute_name(association_name) %>
    <%= " (#{@data.count})" if @resource.typus_options_for(:counters) %>
    <small><%= add_new %></small>
  </h2>

  <% if @items.any? -%>
    <%= table %>
    <%= admin_paginate(@items, Typus.pagination.merge(:anchor => association_name, :param_name => param_name)) %>
  <% else %>
    <p><%= Typus::I18n.t("No entries found.") %></p>
  <% end %>
  
  <% if @resource.read_model_config['multiple_image_upload'] && @resource.read_model_config['multiple_image_upload'].split(", ").include?(association_name) %>
    <%= form_for(@item, :url => params.dup.cleanup.merge!(:action => 'update'), :html => { :multipart => true, :class => "multi-image", :id => "edit_#{@resource.model_name.singular}_#{@item.id}_multi_image" }) do |f| %>
      <h3>
        Add Multiple Images
      </h3>
      <div class="form-actions">
        <%= file_field_tag("#{@resource.model_name.singular}_#{association_name}_image", multiple: true, required: true, name: "#{@resource.model_name.singular}[#{association_name}_attributes][][image]") %>
        <%= submit_tag("Submit", :name => "_continue", :data => { :disable_with => "Uploading..." }, :class => "btn") %>
      </div>
    <% end %>
  <% end %>

</div>
