<%
  new_page_title = @model_to_relate.model_name.human.titleize
  html_class = "new_#{@model_to_relate.model_name.singular}"
  html_modal_class = "modal-from-dom-#{@model_to_relate.table_name}"
  modal_association = "#{@resource.model_name.singular}_#{@model_to_relate.table_name}"
%>

<div id="<%= html_modal_class %>" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3><%= new_page_title %></h3>
  </div>

  <div class="modal-body"></div>

  <div class="modal-footer">
    <% html_options = { :id => "modal-form-submit-#{modal_association}", :class => "btn btn-primary" } %>
    <%= link_to Typus::I18n.t("Save"), "#", html_options %>
  </div>

  <script>
    $('#modal-form-submit-<%= modal_association %>').on('click', function(e){
      e.preventDefault();

      var options = {
        success: function(responseText, statusText, xhr, $form) {
          $("#<%= html_modal_class %>").modal('hide');
          parent.location.reload();
        },
        error: function(xhr, status, error, $form) {
          $('#<%= html_modal_class %> .modal-body').html("<h4>Error</h4><p>" + xhr.status + "</p>" + "<p>" + xhr.statusText + "</p>");
        }
      };
      
      $('#<%= html_modal_class %> form').on('submit', function(event) {
        $(this).ajaxSubmit(options);
        return false;
      });

      $('#<%= html_modal_class %> form').submit();
      return false;
    });

  </script>

</div>
